import("graph", "RBGL")

useDynLib(CellNOptR)



export(
    "buildBitString",
    "checkSignals",
    "CNORwrap",
    "CNORbool",
    "CNOlist",
    "compressModel",
    "computeScoreT1",
    "computeScoreTN",
    "cSimulator",
    "cutAndPlot",
    "cutAndPlotResultsT1",
    "cutAndPlotResultsT2",
    "cutAndPlotResultsTN",
    "cutNONC",
    "cutSimList",
    "cutModel", 
    "defaultParameters",
    "expandGates",
    "findNONC",
    "gaBinaryT1",
    "gaBinaryT2",
    "gaBinaryTN",
    "graph2sif",
    "getFit",
    "indexFinder",
    "mapBack", 
    "makeCNOlist",
    "model2sif",
    "normaliseCNOlist",
    "plotCNOlist",
    "plotCNOlistLarge",
    "plotCNOlistLargePDF",
    "plotCNOlistPDF",
    "plotFit",
    "plotOptimResults",
    "plotOptimResultsPan",
    "plotOptimResultsPDF",
    "prep4sim",
    "prep4Sim",
    "preprocessing",
    "readMIDAS",
    "readSIF",
    "readSif",
    "residualError",
    "sif2graph",
    "simulateT1",
    "simulateTN",
    "simulatorT0",
    "simulatorT1",
    "simulatorTN",
    "writeDot",
    "writeMIDAS",
    "writeSIF",
    "writeNetwork",
    "writeReport",
    "writeScaffold", 
    "plotModel")

# CNOlist class
exportClasses(CNOlist)

exportMethods("plot")
